# LLM API Keys
MISTRAL_API_KEY=your_mistral_api_key_here
GOOGLE_API_KEY=your_google_api_key_here # backup solution
EMBEDDING_PROVIDER="google"

# OpenAgenda API
OPENAGENDA_API_KEY=your_openagenda_api_key_here # OpenAgenda public key